#content{
	background-color:#222;
	color:white;
	width:60%;
	margin:0% 8%;
	padding:10%;
	border-style:grooved;
	border-radius: 15px;
	border-width: medium;
	border-color:red;
}

body{
	background-color:#CCC;
}